name: release

on:
  release:
    types: [created]

jobs:
  release:
    name: release ${{ matrix.target }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - target: x86_64-unknown-linux-musl
            os: ubuntu-latest
          - target: aarch64-apple-darwin
            os: macos-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - uses: Swatinem/rust-cache@v2

      - name: Install build dependencies (Linux)
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt-get install -y musl-tools perl make

      - name: Build
        run: cargo build --release --target ${{ matrix.target }}

      - name: Package
        run: |
          cd target/${{ matrix.target }}/release
          tar czf shook_${{ github.ref_name }}_${{ matrix.target }}.tar.gz shook
          zip shook_${{ github.ref_name }}_${{ matrix.target }}.zip shook
          cd -
          cp README.md LICENSE-MIT LICENSE-APACHE target/${{ matrix.target }}/release/

      - name: Upload Release Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            target/${{ matrix.target }}/release/shook_${{ github.ref_name }}_${{ matrix.target }}.tar.gz
            target/${{ matrix.target }}/release/shook_${{ github.ref_name }}_${{ matrix.target }}.zip
            target/${{ matrix.target }}/release/README.md
            target/${{ matrix.target }}/release/LICENSE-MIT
            target/${{ matrix.target }}/release/LICENSE-APACHE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
